

.h1-span {
  color: #00A79D;
}

h1 {
  color: #6D6E71;
  padding-top: .3em;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 2em;
}

form {
  display: grid;
}

#button-save {
  background-color: #00A79D;
  color: #FFFFFF;
  margin: .7em 1.2em 1em 1.2em;
  height: 2.1em;
  font-weight: bold;
  font-size: 1.2em;
}

#button-save:hover {
  background-color: #045E55;
}

.input-fields {
  border: 2px solid #A8AAAD;
  margin: 0em 1.2em;
  height: 2em;
  padding-left: .4em;
  font-weight: bold;
  font-size: 1.2em;
}

#input-title {
  margin-top: .8em;
}

#input-body {
  height: 5em;
  margin-top: .6em;
  line-height: 1.7em;
}

#input-search {
  margin-top: 1em;
  margin-bottom: 1.9em;
}

.top-container {
  background-color: #E5F3F2;
  display: block;
}

.search-container {
  display: grid;
}

.ideas-container {
  /*border: 2px solid green;*/
}

li.card {
  margin: 0em 1.4em;
  border-bottom: 1px solid #D1D3D4;
}

h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
}

.ideas-content {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  padding-top: .5em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
  
}

.rating {
  color: #606E71;
    display: inline-block;
    margin-left: .8em;
    letter-spacing: -.035em;
    vertical-align: super;
    margin-bottom: 1em;
}

hr {
  color: #D1D3D4;
}

.button-grades {
  height: 15px;
  width: 15px;
}

.circle-buttons {
  background-repeat: no-repeat;
  background-size: cover; 
  height: 2.5em;
  width: 2.5em;
  background-color: transparent;
  border: none; 
}


.button-delete {
  background-image: url(images/delete.svg);
  margin: .4em;
  float: right;
}

.button-delete:hover {
  background-image: url(images/delete-hover.svg);
}

.button-upvote {
  background-image: url(images/upvote.svg);
  display: inline-block;
  margin-top: 1.3em;

}

.button-upvote:hover {
  background-image: url(images/upvote-hover.svg); 
}

.button-downvote {
  background-image: url(images/downvote.svg);
  display: inline-block;
  margin-top: 1.3em;
}

.button-downvote:hover {
  background-image: url(images/downvote-hover.svg); 
}












